openapi: 3.2.0
info:
  contact:
    email: info@hergertsynthora.com
  title: SYNTHORA Agent Notary (Trust Layer EU) Service API
  version: 1.0.0
  description: Proof-of-existence, proof-of-execution and proof-of-agreement for M2M deals. Notarize a SHA-256, get an Ed25519-signed receipt anyone can verify later.
  x-keywords:
  - notary
  - proof of existence
  - proof of execution
  - timestamp
  - attestation
  - agreement
  - ed25519
  - m2m trust
  - hash notarization
  x-payment:
    protocol: x402
    network: eip155:8453
    asset: USDC
    pay_to: '0xEf879BFD6C4AccB8F795136de90246e1EC245e06'
servers:
- url: https://notary.hergertsynthora.com
tags:
- name: Service
paths:
  /service:
    post:
      operationId: trust_notary
      summary: SYNTHORA Agent Notary (Trust Layer EU)
      description: Proof-of-existence, proof-of-execution and proof-of-agreement for M2M deals. Notarize a SHA-256, get an Ed25519-signed receipt anyone can verify later.
      x-keywords:
      - notary
      - proof of existence
      - proof of execution
      - timestamp
      - attestation
      - agreement
      - ed25519
      - m2m trust
      - hash notarization
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002'
        protocols:
        - x402: {}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
        '402':
          description: Payment Required (x402)
      tags:
      - Service
