{"openapi":"3.1.0","info":{"contact":{"email":"info@hergertsynthora.com"},"title":"SYNTHORA polymarket-resolution-watch","version":"1.0.0","description":"Polymarket resolution watch: markets ending within N days (default 7) with UMA resolution status (proposed/disputed), UMA bond and reward, hours to resolution, last price, 24h volume, liquidity and a uma_risk flag for contested or undecided resolutions.","x-payment":{"protocol":"x402","network":"eip155:8453","asset":"USDC","pay_to":"0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}},"servers":[{"url":"https://polymarket-resolution-watch.hergertsynthora.com","description":"SYNTHORA polymarket-resolution-watch earner"}],"paths":{"/service":{"post":{"operationId":"polymarket_resolution_watch","summary":"Polymarket resolution watch: markets ending within N days (default 7) with UMA resolution status (proposed/disputed), UMA bond and reward, hours to resolution, last price, 24h volume, liquidity and a uma_risk flag for contested or undecided resolutions.","description":"Polymarket resolution watch: markets ending within N days (default 7) with UMA resolution status (proposed/disputed), UMA bond and reward, hours to resolution, last price, 24h volume, liquidity and a uma_risk flag for contested or undecided resolutions. Lets prediction agents avoid or exploit resolution risk. No charge on service failure. Ed25519-signed. $0.10 USDC per call via x402 on Base. Free trial: 3 calls per wallet with header X-WALLET.","responses":{"200":{"description":"Ed25519-signed result"},"402":{"description":"x402 payment required"}}}}}}