{"openapi":"3.1.0","info":{"contact":{"email":"info@hergertsynthora.com"},"title":"SYNTHORA market-resolution","version":"1.0.0","description":"Canonical resolution status for one Polymarket market (market_slug or condition_id required): market state (active/resolving/closed), UMA resolution statuses (proposed/disputed), end date and hours to resolution, declared resolution source plus sources found in the rules text, current outcome prices, UMA bond/reward and estimated payout per outcome (1.00 USDC per winning share, implied EV).","x-payment":{"protocol":"x402","network":"eip155:8453","asset":"USDC","pay_to":"0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}},"servers":[{"url":"https://market-resolution.hergertsynthora.com","description":"SYNTHORA market-resolution earner"}],"paths":{"/service":{"post":{"operationId":"market_resolution","summary":"Canonical resolution status for one Polymarket market (market_slug or condition_id required): market state (active/resolving/closed), UMA resolution statuses (proposed/disputed), end date and hours to resolution, declared resolution source plus sources found in the rules text, current outcome prices, UMA bond/reward and estimated payout per outcome (1.00 USDC per winning share, implied EV).","description":"Canonical resolution status for one Polymarket market (market_slug or condition_id required): market state (active/resolving/closed), UMA resolution statuses (proposed/disputed), end date and hours to resolution, declared resolution source plus sources found in the rules text, current outcome prices, UMA bond/reward and estimated payout per outcome (1.00 USDC per winning share, implied EV). The call a prediction bot makes before and after trading a market. No charge on service failure. Ed25519-signed. $0.01 USDC per call via x402 on Base. Free trial: 3 calls per wallet with header X-WALLET.","responses":{"200":{"description":"Ed25519-signed result"},"402":{"description":"x402 payment required"}}}}}}