{"openapi":"3.1.0","info":{"contact":{"email":"info@hergertsynthora.com"},"title":"SYNTHORA Open Interest Oracle","version":"1.0.0","description":"Live perpetual-futures open interest, funding rates, mark price, premium and crowded long/short signal for 230+ assets, sourced from Hyperliquid. Ed25519-signed. Pay-per-use via x402 USDC on Base.","x-guidance":"POST /service with {\"asset\":\"BTC\"} for one asset, or empty {} for the top market by open interest.","x-keywords":["open interest","funding rate","perpetual futures","perps","Hyperliquid","long short ratio","derivatives","mark price","crowded long","crowded short","perp funding","liquidation risk","futures market data","funding arbitrage"],"x-use-cases":["get live open interest for BTC or ETH perpetuals","check the current funding rate for any perp","detect crowded long or short positioning for a contrarian signal","monitor perp funding rates across the market","get open interest and funding for 230+ Hyperliquid perps","find funding-rate arbitrage opportunities","feed open interest and funding into an autonomous trading agent","compare open interest across assets to gauge where leverage concentrates","get mark price and premium vs oracle for a perp","spot overheated markets by funding before a liquidation cascade"],"x-payment":{"protocol":"x402","network":"eip155:8453","asset":"USDC","pay_to":"0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}},"servers":[{"url":"https://openinterest.hergertsynthora.com","description":"SYNTHORA openinterest earner"}],"paths":{"/service":{"post":{"operationId":"openinterest","summary":"Open interest + funding + long/short signal for perps","description":"Live open interest, funding rate, mark price, premium and crowded long/short signal via Hyperliquid.","tags":["Derivatives","Open Interest","Funding","Perpetuals","Hyperliquid"],"x-keywords":["open interest","funding rate","perpetual futures","perps","Hyperliquid","long short ratio","derivatives","mark price","crowded long","crowded short","perp funding","liquidation risk","futures market data","funding arbitrage"],"x-use-cases":["get live open interest for BTC or ETH perpetuals","check the current funding rate for any perp","detect crowded long or short positioning for a contrarian signal","monitor perp funding rates across the market","get open interest and funding for 230+ Hyperliquid perps","find funding-rate arbitrage opportunities","feed open interest and funding into an autonomous trading agent","compare open interest across assets to gauge where leverage concentrates","get mark price and premium vs oracle for a perp","spot overheated markets by funding before a liquidation cascade"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.001000"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"asset":{"type":"string","description":"Perp symbol e.g. BTC, ETH, SOL, HYPE. Omit for top market."}}}}}},"responses":{"200":{"description":"Open interest result"},"402":{"description":"Payment Required (x402)"}}}}}}