{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA DeFi Data \u2014 perp OI, funding, signals", "version": "1.0.0", "description": "DeFi market-data feed: perp open interest, funding rate, mark price and a directional signal across top assets (BTC/ETH/SOL/\u2026), plus optional per-asset verdict. Deterministic, Ed25519-signed. $0.002 USDC via x402 on Base. SYNTHORA.", "x-keywords": ["defi data", "defi-data", "open interest", "funding rate", "perp", "perpetuals", "crypto market data", "mark price", "derivatives", "hyperliquid", "trading signal", "defi analytics", "capital flows"], "x-use-cases": ["get a DeFi market-data feed across top assets", "fetch perp open interest + funding for an asset", "feed an agent live derivatives data cheaply"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://defidata.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "defidata", "summary": "DeFi data feed", "description": "DeFi market-data feed: perp open interest, funding rate, mark price and a directional signal across top assets (BTC/ETH/SOL/\u2026), plus optional per-asset verdict. Deterministic, Ed25519-signed. $0.002 USDC via x402 on Base. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.002000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"slug": {"type": "string"}, "asset": {"type": "string"}, "limit": {"type": "integer"}}}}}}, "responses": {"200": {"description": "DeFi data"}, "402": {"description": "Payment Required (x402)"}}}}}}