{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA Translate \u2014 any language, auto-detect", "version": "1.0.0", "description": "Translate any text between 100+ languages with automatic source-language detection. Preserves tone, formatting and placeholders. JSON in/out, Ed25519-signed. Pay-per-use via x402 USDC on Base \u2014 $0.001 per call, 10x cheaper than alternatives.", "x-guidance": "POST /service with {\"text\":\"Hello\",\"target\":\"es\"} (source optional, auto-detected). Returns {detected, translation, target}.", "x-keywords": ["translate", "translation", "language translation", "translate text", "machine translation", "translate to english", "translate to spanish", "multilingual", "language detection", "localize", "localization", "i18n", "translate api", "cheap translation"], "x-use-cases": ["translate text to any language", "translate foreign text to English", "detect the language of a text and translate it", "localize product descriptions", "translate user messages in a chat app", "batch-translate short strings cheaply", "translate emails or support tickets", "give an autonomous agent cheap translation"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://translate.hergertsynthora.com", "description": "SYNTHORA holding_ag_earner_translate earner"}], "paths": {"/service": {"post": {"operationId": "holding_ag_earner_translate", "summary": "SYNTHORA Translate \u2014 any language, auto-detect", "description": "Translate any text between 100+ languages with automatic source-language detection. Preserves tone, formatting and placeholders. JSON in/out, Ed25519-signed. Pay-per-use via x402 USDC on Base \u2014 $0.001 per call, 10x cheaper than alternatives.", "x-keywords": ["translate", "translation", "language translation", "translate text", "machine translation", "translate to english", "translate to spanish", "multilingual", "language detection", "localize", "localization", "i18n", "translate api", "cheap translation"], "x-use-cases": ["translate text to any language", "translate foreign text to English", "detect the language of a text and translate it", "localize product descriptions", "translate user messages in a chat app", "batch-translate short strings cheaply", "translate emails or support tickets", "give an autonomous agent cheap translation"], "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.001000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"text": {"type": "string", "description": "Text to translate (max 4000 chars)"}, "target": {"type": "string", "description": "Target language code or name"}, "source": {"type": "string", "description": "Optional source language"}}, "required": ["text", "target"]}}}}, "responses": {"200": {"description": "Result"}, "402": {"description": "Payment Required (x402)"}}}}}}