{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA Onchain Primitives (multichain)", "version": "1.0.0", "description": "Multichain deterministic onchain primitives: transaction receipts, tx lookup, wallet nonce, contract & EIP-1967 proxy detection, ENS resolution, ERC20 and native balances, contract introspection across Base, Ethereum, Polygon, Arbitrum and Optimism. Ed25519-signed. Pay-per-use via x402 USDC on Base.", "x-guidance": "POST /service with {\"op\":\"receipt\",\"hash\":\"0x..\",\"chain\":\"base\"}. ops: receipt, tx, nonce, code, proxy, balance, erc20-balance, contract, network, ens. chains: base, ethereum, polygon, arbitrum, optimism. Empty body -> ops list.", "x-keywords": ["ens", "ens resolution", "transaction receipt", "tx receipt", "eth_getTransactionReceipt", "proxy detection", "eip-1967", "uups proxy", "wallet nonce", "nonce lookup", "eth_call", "onchain data", "ethereum rpc", "base rpc", "erc20 balance", "token balance", "multichain", "is contract", "smart contract introspection", "contract abi", "block number", "gas price"], "x-use-cases": ["resolve an ENS name to an address", "reverse-resolve an address to its ENS name", "get a transaction receipt and status on Base or Ethereum", "detect if a contract is an EIP-1967 proxy and read its implementation", "get the next nonce for a wallet before sending a transaction", "check if an address is a smart contract", "get the ERC20 token balance of a wallet", "get the native ETH balance of a wallet on any chain", "read a token's name, symbol and decimals", "get chain id, latest block and gas price", "give an autonomous agent cheap multichain onchain reads"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://onchain.hergertsynthora.com", "description": "SYNTHORA holding_ag_earner_onchain earner"}], "paths": {"/service": {"post": {"operationId": "holding_ag_earner_onchain", "summary": "SYNTHORA Onchain Primitives (multichain)", "description": "Multichain deterministic onchain primitives: transaction receipts, tx lookup, wallet nonce, contract & EIP-1967 proxy detection, ENS resolution, ERC20 and native balances, contract introspection across Base, Ethereum, Polygon, Arbitrum and Optimism. Ed25519-signed. Pay-per-use via x402 USDC on Base.", "x-keywords": ["ens", "ens resolution", "transaction receipt", "tx receipt", "eth_getTransactionReceipt", "proxy detection", "eip-1967", "uups proxy", "wallet nonce", "nonce lookup", "eth_call", "onchain data", "ethereum rpc", "base rpc", "erc20 balance", "token balance", "multichain", "is contract", "smart contract introspection", "contract abi", "block number", "gas price"], "x-use-cases": ["resolve an ENS name to an address", "reverse-resolve an address to its ENS name", "get a transaction receipt and status on Base or Ethereum", "detect if a contract is an EIP-1967 proxy and read its implementation", "get the next nonce for a wallet before sending a transaction", "check if an address is a smart contract", "get the ERC20 token balance of a wallet", "get the native ETH balance of a wallet on any chain", "read a token's name, symbol and decimals", "get chain id, latest block and gas price", "give an autonomous agent cheap multichain onchain reads"], "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.001000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"op": {"type": "string", "enum": ["receipt", "tx", "nonce", "code", "proxy", "balance", "erc20-balance", "contract", "network", "ens"]}, "chain": {"type": "string", "description": "base|ethereum|polygon|arbitrum|optimism"}, "hash": {"type": "string"}, "address": {"type": "string"}, "token": {"type": "string"}, "name": {"type": "string"}}}}}}, "responses": {"200": {"description": "Result"}, "402": {"description": "Payment Required (x402)"}}}}}}