{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA keyless web search for AI agents", "version": "1.0.0", "description": "Keyless web search for AI agents. Give it a natural-language query and it returns ranked organic results (title, url, snippet) from live multi-source search (DuckDuckGo HTML/Lite plus public SearXNG instances, with automatic fallback so it never returns empty when one source flakes). Optionally fetches the top result and extracts the main content as clean, token-budgeted markdown (answer_extract), so an agent can read the page without running its own crawler/browser/scraper. Use it to answer real-world questions, gather fresh facts, research a topic, find docs or check what a site says, without maintaining a search index or paying for Google/Bing/Serper API keys. Resilient (short timeouts, multi-source), SSRF-hardened. 0.005 USDC on Base. SYNTHORA.", "x-keywords": ["web search", "keyless search", "agent search", "duckduckgo", "searxng", "organic results", "web research", "answer extraction", "markdown extract", "no api key search", "serper alternative", "fresh facts", "documentation search"], "x-use-cases": ["answer a real-world question with fresh web results", "research a topic without a search index", "find documentation for a library or API", "extract the main content of the top result as markdown", "replace paid Google/Bing/Serper API keys with a pay-per-call search"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://websearch.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "websearch", "summary": "SYNTHORA keyless web search for AI agents", "description": "Keyless web search for AI agents. Give it a natural-language query and it returns ranked organic results (title, url, snippet) from live multi-source search (DuckDuckGo HTML/Lite plus public SearXNG instances, with automatic fallback so it never returns empty when one source flakes). Optionally fetches the top result and extracts the main content as clean, token-budgeted markdown (answer_extract), so an agent can read the page without running its own crawler/browser/scraper. Use it to answer real-world questions, gather fresh facts, research a topic, find docs or check what a site says, without maintaining a search index or paying for Google/Bing/Serper API keys. Resilient (short timeouts, multi-source), SSRF-hardened. 0.005 USDC on Base. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.005000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"query": {"type": "string", "description": "Natural-language search query"}, "max_results": {"type": "integer", "description": "Max organic results (default 5)"}, "extract": {"type": "boolean", "description": "Also fetch top result and return clean markdown (answer_extract)"}}, "required": ["query"]}}}}, "responses": {"200": {"description": "Result"}, "402": {"description": "Payment Required (x402)"}}}}}}