{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA Agent Card Validator (A2A)", "version": "1.0.0", "description": "Agent Card Validator (A2A): given an Agent Card URL or JSON, deterministically validates it against the A2A spec \u2014 required fields, skill schemas, endpoint reachability, security schemes, provider transparency \u2014 returning a compatibility_score, schema_errors and warnings. The trust layer for the agent economy. Deterministic, Ed25519-signed. $0.01 USDC via x402 on Base. SYNTHORA.", "x-keywords": ["agent card", "agent card validator", "a2a", "a2a validation", "agent validation", "agent trust", "agent compatibility", "agent registry", "agent card check", "agent2agent", "agent discovery", "trust score agent", "agent security", "mcp"], "x-use-cases": ["validate an A2A Agent Card before publishing it", "check an agent for A2A compatibility", "score an agent registry entry for trust", "verify an Agent Card's schema + endpoint", "audit an agent's card before another agent uses it"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://agentcard.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "agentcard", "summary": "Validate an A2A Agent Card", "description": "Agent Card Validator (A2A): given an Agent Card URL or JSON, deterministically validates it against the A2A spec \u2014 required fields, skill schemas, endpoint reachability, security schemes, provider transparency \u2014 returning a compatibility_score, schema_errors and warnings. The trust layer for the agent economy. Deterministic, Ed25519-signed. $0.01 USDC via x402 on Base. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.010000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"url": {"type": "string", "description": "URL of the A2A Agent Card (.well-known/agent-card.json)"}, "card": {"type": "object", "description": "Or paste the Agent Card JSON directly"}}}}}}, "responses": {"200": {"description": "Validation result"}, "402": {"description": "Payment Required (x402)"}}}}}}