{"openapi": "3.1.0", "info": {"title": "SYNTHORA payto_preflight", "version": "1.0.0", "description": "x402 PayTo Pre-Flight: verify a payTo address against the live registry before paying. Detects payTo hijacking, stale endpoints and unknown resources. Deterministic, <200ms, no external network. 0.001 USDC via x402 on Base. SYNTHORA.", "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}, "x-guidance": "Paid x402 endpoint: POST without a payment header returns HTTP 402 with a payment-required challenge (scheme exact, USDC on Base, network eip155:8453, payTo 0xEf879BFD6C4AccB8F795136de90246e1EC245e06). Settle through the facilitator and retry with the PAYMENT-SIGNATURE header (x402 v2) or X-PAYMENT (v1). Machine-readable payment terms: /.well-known/x402.json. Results are deterministic and Ed25519-signed."}, "servers": [{"url": "https://payto-preflight.hergertsynthora.com", "description": "SYNTHORA payto_preflight earner"}], "paths": {"/service": {"post": {"operationId": "payto_preflight", "summary": "SYNTHORA payto_preflight", "description": "x402 PayTo Pre-Flight: verify a payTo address against the live registry before paying. Detects payTo hijacking, stale endpoints and unknown resources. Deterministic, <200ms, no external network. 0.001 USDC via x402 on Base. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.010000"}, "protocols": [{"x402": {}}]}, "responses": {"200": {"description": "Ed25519-signed result"}, "402": {"description": "x402 payment required"}}}}}}