{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA Derivatives Bundle", "version": "1.0.0", "description": "Derivatives intel bundle: perps snapshot + open interest + funding + DeFi market data + gas oracle for an asset in ONE $0.01 call. 4 datasets, partial degradation (never fails whole), Ed25519-signed. First 3 calls FREE per wallet (X-WALLET). No charge on upstream failure. SYNTHORA.", "x-keywords": ["derivatives", "perps", "open interest", "funding rate", "defi market data", "gas oracle", "crypto bundle", "trading intel", "multi-dataset"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://derivbundle.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "derivbundle", "summary": "Derivatives intel bundle", "description": "Derivatives intel bundle: perps snapshot + open interest + funding + DeFi market data + gas oracle for an asset in ONE $0.01 call. 4 datasets, partial degradation (never fails whole), Ed25519-signed. First 3 calls FREE per wallet (X-WALLET). No charge on upstream failure. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.010000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"asset": {"type": "string", "description": "asset symbol e.g. BTC/ETH"}}, "required": []}}}}, "responses": {"200": {"description": "Bundle"}, "402": {"description": "Payment Required (x402)"}}}}}}