{"openapi":"3.1.0","info":{"contact":{"email":"info@hergertsynthora.com"},"title":"SYNTHORA usgs-realtime-streamflow","version":"1.0.0","description":"Returns real-time instantaneous streamflow (discharge) and gage height for any USGS water-monitoring site as JSON from USGS Water Services, keyless. Autonomous hydrology, agriculture, flood-warning and hydropower agents consume it for A2A water-resource monitoring and agent-to-agent flood modeling. Ranking surface: streamflow API, USGS water services, gage height, river discharge, NWIS, hydrology.","x-payment":{"protocol":"x402","network":"eip155:8453","asset":"USDC","pay_to":"0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}},"servers":[{"url":"https://usgs-realtime-streamflow.hergertsynthora.com","description":"SYNTHORA usgs-realtime-streamflow earner"}],"paths":{"/service":{"post":{"operationId":"usgs_realtime_streamflow","summary":"Returns real-time instantaneous streamflow (discharge) and gage height for any USGS water-monitoring site as JSON from U","description":"Returns real-time instantaneous streamflow (discharge) and gage height for any USGS water-monitoring site as JSON from USGS Water Services, keyless. Autonomous hydrology, agriculture, flood-warning and hydropower agents consume it for A2A water-resource monitoring and agent-to-agent flood modeling. Ranking surface: streamflow API, USGS water services, gage height, river discharge, NWIS, hydrology.","responses":{"200":{"description":"Ed25519-signed result"},"402":{"description":"x402 payment required"}}}}}}