{"openapi":"3.1.0","info":{"contact":{"email":"info@hergertsynthora.com"},"title":"SYNTHORA News Sentiment Oracle","version":"1.0.0","description":"Real-time news sentiment scoring via GDELT 2.0 Timeline Tone API. Analyze sentiment for any crypto asset, macro topic, or financial keyword across global news. Returns tone score and directional signal.","x-guidance":"POST /service with JSON body {\"input\": \"bitcoin\"} where input is any search keyword. Returns: tone_score (-100 to +100), signal (bearish/neutral/bullish), article_count.","x-keywords":["news sentiment","GDELT","tone score","crypto news","market sentiment","NLP","news analysis","sentiment oracle","media tone","news analytics"],"x-use-cases":["get current news sentiment for Bitcoin or Ethereum","analyze media tone for a macro topic like interest rates","measure news sentiment shift before an earnings event","feed crypto news sentiment into an AI trading strategy","check if news is bullish or bearish for a specific token","monitor sentiment trend for DeFi protocols in the media","get a real-time news mood score for any financial keyword","use GDELT sentiment as a contrarian signal in a portfolio","compare sentiment scores across different asset classes","track how media coverage of a DAO or protocol changes over time"],"x-payment":{"protocol":"x402","network":"eip155:8453","asset":"USDC","pay_to":"0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}},"servers":[{"url":"https://sentiment.hergertsynthora.com","description":"SYNTHORA sentiment earner"}],"paths":{"/service":{"post":{"operationId":"sentiment","summary":"Real-time news sentiment via GDELT 2.0 for any crypto, macro, or financial topic","description":"Real-time news sentiment scoring via GDELT 2.0 Timeline Tone API. Analyze sentiment for any crypto asset, macro topic, or financial keyword across global news. Returns tone score and directional signal.","tags":["Sentiment","News","GDELT","NLP","Media Analysis"],"x-keywords":["news sentiment","GDELT","tone score","crypto news","market sentiment","NLP","news analysis","sentiment oracle","media tone","news analytics"],"x-use-cases":["get current news sentiment for Bitcoin or Ethereum","analyze media tone for a macro topic like interest rates","measure news sentiment shift before an earnings event","feed crypto news sentiment into an AI trading strategy","check if news is bullish or bearish for a specific token","monitor sentiment trend for DeFi protocols in the media","get a real-time news mood score for any financial keyword","use GDELT sentiment as a contrarian signal in a portfolio","compare sentiment scores across different asset classes","track how media coverage of a DAO or protocol changes over time"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.001000"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"input":{"type":"string","description":"Query input (asset name, keyword, question, DAO slug, etc.)"}}}}}},"responses":{"200":{"description":"Successful result","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"niche":{"type":"string"},"result":{"type":"object","description":"Service-specific result payload"}}}}}},"402":{"description":"Payment Required \u2014 include x402 PAYMENT-SIGNATURE header"}}}}}}