{"openapi":"3.1.0","info":{"contact":{"email":"info@hergertsynthora.com"},"title":"SYNTHORA polymarket-whales","version":"1.0.0","description":"Live whale-tracking on Polymarket: the latest large trades (default >= 5000 USD, tunable via min_usd) with wallet, side, outcome, size, price, USD value, market title/slug and tx hash, straight from Polymarket public trades data API.","x-payment":{"protocol":"x402","network":"eip155:8453","asset":"USDC","pay_to":"0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}},"servers":[{"url":"https://polymarket-whales.hergertsynthora.com","description":"SYNTHORA polymarket-whales earner"}],"paths":{"/service":{"post":{"operationId":"polymarket_whales","summary":"Live whale-tracking on Polymarket: the latest large trades (default >= 5000 USD, tunable via min_usd) with wallet, side, outcome, size, price, USD value, market title/slug and tx hash, straight from Polymarket public trades data API.","description":"Live whale-tracking on Polymarket: the latest large trades (default >= 5000 USD, tunable via min_usd) with wallet, side, outcome, size, price, USD value, market title/slug and tx hash, straight from Polymarket public trades data API. Built for prediction-market agents that track smart money before trading. No charge on service failure. Ed25519-signed. $0.15 USDC per call via x402 on Base. Free trial: 3 calls per wallet with header X-WALLET.","responses":{"200":{"description":"Ed25519-signed result"},"402":{"description":"x402 payment required"}}}}}}