{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA Hyperliquid perps snapshot", "version": "1.0.0", "description": "SYNTHORA Perps Snapshot: live Hyperliquid perpetual futures snapshot per asset \u2014 mark price, oracle price, hourly funding rate (with 8h and APR derivations), open interest (USD), premium and 24h volume for 230+ perps, keyless. Complements the Open Interest oracle with the raw single-shot data a trading agent needs. Ed25519-signed. 0.002 USDC via x402 on Base. SYNTHORA.", "x-keywords": ["perps", "perpetual futures", "hyperliquid", "funding rate", "mark price", "oracle price", "open interest", "premium", "perp snapshot", "funding apr", "derivatives data", "trading data", "perp funding"], "x-use-cases": ["get a live single-shot snapshot of a Hyperliquid perp", "read funding rate (hourly / 8h / APR) for a perp", "read mark, oracle, open interest and 24h volume per asset", "feed a trading agent raw perp data", "list the top perps by open interest"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://perps.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "perps", "summary": "SYNTHORA Hyperliquid perps snapshot", "description": "SYNTHORA Perps Snapshot: live Hyperliquid perpetual futures snapshot per asset \u2014 mark price, oracle price, hourly funding rate (with 8h and APR derivations), open interest (USD), premium and 24h volume for 230+ perps, keyless. Complements the Open Interest oracle with the raw single-shot data a trading agent needs. Ed25519-signed. 0.002 USDC via x402 on Base. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.002000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"asset": {"type": "string", "description": "Perp symbol e.g. BTC, ETH, SOL. Omit for top-10 by open interest"}, "limit": {"type": "integer", "description": "Number of perps to return when asset is omitted"}}}}}}, "responses": {"200": {"description": "Result"}, "402": {"description": "Payment Required (x402)"}}}}}}