{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA Counterparty Business-Risk Verdict", "version": "1.0.0", "description": "Counterparty Business-Risk Verdict (composite): given a counterparty wallet and/or a token/pool contract, deterministically fuses OFAC/EU sanctions screening, on-chain wallet reputation and token-contract risk into a single weighted risk_score (0-100), a kill/pivot/proceed verdict, and reason_codes naming which sub-signal drove it \u2014 plus the raw sub-results. Sanctions weight 0.50, wallet 0.30, token 0.20, renormalised when a leg is unavailable; a sanctions hit forces a hard KILL. One counterparty check instead of three. Deterministic, no LLM, Ed25519-signed. $0.05 USDC via x402 on Base. SYNTHORA.", "x-keywords": ["business risk", "counterparty risk", "counterparty screening", "risk score", "compliance", "aml", "sanctions", "ofac", "kyc", "kyb", "wallet reputation", "wallet risk", "token risk", "contract risk", "due diligence", "risk verdict", "kill proceed", "onboarding risk", "vendor risk", "transaction risk"], "x-use-cases": ["screen a counterparty wallet before transacting or onboarding", "get one risk verdict for a wallet + token instead of three separate checks", "block sanctioned or blacklisted counterparties automatically", "score a new vendor/customer wallet for AML + reputation + token risk", "gate an autonomous agent's payments on a kill/pivot/proceed decision"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://businessrisk.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "business_risk", "summary": "Fuse sanctions + wallet + token into one risk verdict", "description": "Counterparty Business-Risk Verdict (composite): given a counterparty wallet and/or a token/pool contract, deterministically fuses OFAC/EU sanctions screening, on-chain wallet reputation and token-contract risk into a single weighted risk_score (0-100), a kill/pivot/proceed verdict, and reason_codes naming which sub-signal drove it \u2014 plus the raw sub-results. Sanctions weight 0.50, wallet 0.30, token 0.20, renormalised when a leg is unavailable; a sanctions hit forces a hard KILL. One counterparty check instead of three. Deterministic, no LLM, Ed25519-signed. $0.05 USDC via x402 on Base. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"address": {"type": "string", "description": "Counterparty EVM wallet (0x-40hex) \u2014 sanctions + reputation"}, "token": {"type": "string", "description": "Token or pool contract (0x-40hex) \u2014 contract risk"}, "protocol": {"type": "string", "description": "Optional protocol name for the token/pool"}, "apy_pct": {"type": "number", "description": "Optional APY passthrough to the DeFi risk leg"}, "tvl_usd": {"type": "number", "description": "Optional TVL passthrough to the DeFi risk leg"}, "duration_days": {"type": "integer", "description": "Optional holding period passthrough"}}}}}}, "responses": {"200": {"description": "Fused risk verdict"}, "402": {"description": "Payment Required (x402)"}}}}}}