{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA continuous contract monitoring / change detection", "version": "1.0.0", "description": "Continuous smart-contract monitoring and change detection. Returns the CURRENT security verdict PLUS exactly what changed since the last time this contract was checked: owner changed / ownership taken back, proxy implementation or beacon upgraded (logic swap), proxy-admin changed, Sourcify verification gained or lost, honeypot or buy/sell tax flip, new dangerous functions (mintable, pausable, blacklist, selfdestruct, hidden owner), trust-list on/off, and verdict escalation. Built on the same on-chain engine as contract_guard (web3 proxy/owner reads + Sourcify + GoPlus token & address security). Ed25519-signed. $0.32 USDC via x402 on Base. SYNTHORA.", "x-keywords": ["contract monitoring", "continuous contract monitoring", "change detection", "smart contract watch", "contract security watch", "upgrade detection", "proxy upgrade watch", "owner change detection", "rug watch", "honeypot flip detection", "tax flip detection", "verdict drift", "security drift", "contract change alerts", "ownership change", "renounce watch", "implementation change", "beacon upgrade"], "x-use-cases": ["continuously monitor a smart contract and get alerted when it changes", "detect when a proxy implementation or beacon is upgraded (logic swap)", "detect when a token flips to honeypot or changes buy/sell tax", "detect owner change, ownership take-back or renounce", "detect when a contract loses or gains Sourcify verification", "replace daily re-checks of the same contract with a diff-only watch", "watch for verdict escalation and new dangerous functions"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://contractwatch.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "contractwatch", "summary": "Continuous contract monitoring + change detection", "description": "Continuous smart-contract monitoring and change detection. Returns the CURRENT security verdict PLUS exactly what changed since the last time this contract was checked: owner changed / ownership taken back, proxy implementation or beacon upgraded (logic swap), proxy-admin changed, Sourcify verification gained or lost, honeypot or buy/sell tax flip, new dangerous functions (mintable, pausable, blacklist, selfdestruct, hidden owner), trust-list on/off, and verdict escalation. Built on the same on-chain engine as contract_guard (web3 proxy/owner reads + Sourcify + GoPlus token & address security). Ed25519-signed. $0.32 USDC via x402 on Base. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.020000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"address": {"type": "string", "description": "Contract address to monitor (0x...)"}, "chain": {"type": "string", "enum": ["base", "ethereum"], "description": "Chain (default base)"}}, "required": ["address"]}}}}, "responses": {"200": {"description": "Current verdict + changes since last check"}, "402": {"description": "Payment Required (x402)"}}}}}}