{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA SYNTHORA OHLCV Candles", "version": "1.0.0", "description": "Real-time and historical OHLCV candles (open/high/low/close/volume) for any crypto pair, any interval. For backtesting and signal agents. Free source. $0.01 USDC via x402 on Base. SYNTHORA.", "x-keywords": ["market_data", "ohlcv-candles"], "x-use-cases": ["call SYNTHORA OHLCV Candles for agents via x402 micropayment"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://ohlcv-candles.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "ohlcv_candles", "summary": "SYNTHORA OHLCV Candles", "description": "Real-time and historical OHLCV candles (open/high/low/close/volume) for any crypto pair, any interval. For backtesting and signal agents. Free source. $0.01 USDC via x402 on Base. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.010000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"symbol": {"type": "string", "description": "symbol"}, "interval": {"type": "string", "description": "interval"}, "limit": {"type": "integer", "description": "limit"}}, "required": ["symbol", "interval", "limit"]}}}}, "responses": {"200": {"description": "Result"}, "402": {"description": "Payment Required (x402)"}}}}}}