{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA Inference", "version": "1.0.0", "description": "Pay-per-prompt LLM inference for agents: POST a prompt, get the completion. No API keys, no accounts. Multi-provider cascade for reliability, Ed25519-signed. 0.002 USDC via x402 on Base. SYNTHORA.", "x-guidance": "POST /service with {\"prompt\":\"...\",\"max_tokens\":256}.", "x-keywords": ["llm inference", "ai inference", "text generation", "prompt completion", "chat completion", "language model", "gpt alternative", "llm api", "ai gateway", "pay per prompt", "no api key llm", "cheap inference"], "x-use-cases": ["run a prompt and get a completion", "generate text from a prompt without an API key", "summarize or rewrite text via an LLM", "give an autonomous agent pay-per-call inference", "classify or extract from text with an LLM", "draft content programmatically"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://inference.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "inference", "summary": "LLM inference", "description": "Pay-per-prompt LLM inference for agents: POST a prompt, get the completion. No API keys, no accounts. Multi-provider cascade for reliability, Ed25519-signed. 0.002 USDC via x402 on Base. SYNTHORA.", "x-keywords": ["llm inference", "ai inference", "text generation", "prompt completion", "chat completion", "language model", "gpt alternative", "llm api", "ai gateway", "pay per prompt", "no api key llm", "cheap inference"], "x-use-cases": ["run a prompt and get a completion", "generate text from a prompt without an API key", "summarize or rewrite text via an LLM", "give an autonomous agent pay-per-call inference", "classify or extract from text with an LLM", "draft content programmatically"], "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.002000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"prompt": {"type": "string", "description": "The prompt to run"}, "system": {"type": "string", "description": "Optional system prompt"}, "max_tokens": {"type": "integer", "description": "Max output tokens (default 400)"}}, "required": ["prompt"]}}}}, "responses": {"200": {"description": "Completion"}, "402": {"description": "Payment Required"}}}}}}