{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA Email Deliverability Check", "version": "1.0.0", "description": "Email deliverability and spam check: given a domain or email address, returns SPF, DKIM (common selectors), DMARC, MX records and a deliverability/spam score. DNS-only, deterministic, Ed25519-signed. Pay-per-use via x402 USDC on Base.", "x-guidance": "POST /service with {\"domain\":\"example.com\"} (or an email). ops: check (default), spf, dmarc, dkim, mx.", "x-keywords": ["email spam check", "email deliverability", "spf", "dkim", "dmarc", "mx records", "sender reputation", "email authentication", "domain reputation", "spam score", "email validation", "mail server check", "dns email", "anti-spoofing", "email dns check"], "x-use-cases": ["check if a domain is configured for good email deliverability", "verify a domain's SPF record and policy", "verify a domain's DMARC policy", "find which DKIM selectors a domain publishes", "check a domain's MX records", "score a sender domain before sending email", "validate an email domain's anti-spoofing setup", "detect domains likely to land in spam"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://deliver.hergertsynthora.com", "description": "SYNTHORA holding_ag_earner_deliverability earner"}], "paths": {"/service": {"post": {"operationId": "holding_ag_earner_deliverability", "summary": "SYNTHORA Email Deliverability Check", "description": "Email deliverability and spam check: given a domain or email address, returns SPF, DKIM (common selectors), DMARC, MX records and a deliverability/spam score. DNS-only, deterministic, Ed25519-signed. Pay-per-use via x402 USDC on Base.", "x-keywords": ["email spam check", "email deliverability", "spf", "dkim", "dmarc", "mx records", "sender reputation", "email authentication", "domain reputation", "spam score", "email validation", "mail server check", "dns email", "anti-spoofing", "email dns check"], "x-use-cases": ["check if a domain is configured for good email deliverability", "verify a domain's SPF record and policy", "verify a domain's DMARC policy", "find which DKIM selectors a domain publishes", "check a domain's MX records", "score a sender domain before sending email", "validate an email domain's anti-spoofing setup", "detect domains likely to land in spam"], "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.001000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"domain": {"type": "string", "description": "domain or email address"}, "op": {"type": "string", "enum": ["check", "spf", "dmarc", "dkim", "mx"]}, "selectors": {"type": "array", "items": {"type": "string"}}}}}}}, "responses": {"200": {"description": "Result"}, "402": {"description": "Payment Required (x402)"}}}}}}