{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA MTA-STS \u2014 SMTP transport security audit", "version": "1.0.0", "description": "SMTP transport-security audit: MTA-STS (RFC 8461) + TLS-RPT (RFC 8460). Resolves the policy DNS records, fetches and parses the well-known policy file, cross-validates the policy mx: patterns against the domain's real MX, returns an enforce/report verdict. Complements SPF/DKIM/DMARC with the TLS transport layer. Deterministic, Ed25519-signed. $0.003 USDC via x402 on Base. SYNTHORA.", "x-keywords": ["mta-sts", "tls-rpt", "smtp security", "email transport security", "email encryption", "downgrade attack", "mx policy", "rfc 8461", "rfc 8460", "email deliverability", "dmarc companion", "tls reporting"], "x-use-cases": ["audit a domain's MTA-STS + TLS-RPT posture", "detect mail vulnerable to TLS downgrade/MITM", "validate policy mx patterns vs real MX records", "bundle with SPF/DKIM/DMARC deliverability checks"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://mtasts.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "mtasts", "summary": "MTA-STS/TLS-RPT audit", "description": "SMTP transport-security audit: MTA-STS (RFC 8461) + TLS-RPT (RFC 8460). Resolves the policy DNS records, fetches and parses the well-known policy file, cross-validates the policy mx: patterns against the domain's real MX, returns an enforce/report verdict. Complements SPF/DKIM/DMARC with the TLS transport layer. Deterministic, Ed25519-signed. $0.003 USDC via x402 on Base. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.003000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"op": {"type": "string", "enum": ["check", "mtasts", "tlsrpt"]}, "domain": {"type": "string"}}, "required": ["domain"]}}}}, "responses": {"200": {"description": "Audit result"}, "402": {"description": "Payment Required (x402)"}}}}}}