{"openapi":"3.1.0","info":{"contact":{"email":"info@hergertsynthora.com"},"title":"SYNTHORA Prediction Market Oracle","version":"1.0.0","description":"Real-money crowd probability estimates from Polymarket for any question. Returns p_yes, p_no, 24h volume, open interest, and a directional signal. Best crowd-sourced odds available on any prediction market question.","x-guidance":"POST /service with JSON body {\"input\": \"Will Bitcoin hit 100k in 2025?\"} where input is a natural-language question. Returns: p_yes, p_no, volume_24h, signal (bullish/bearish/neutral).","x-keywords":["prediction market","Polymarket","crowd odds","p_yes","p_no","probability","event odds","market resolution","crowd intelligence","binary event"],"x-use-cases":["get current probability of a Fed rate cut from Polymarket","check crowd odds for a crypto price target being hit","query Polymarket probability for any yes/no event","use crowd-sourced odds as a prior in an AI agent decision","get 24h trading volume on a specific prediction market","compare Polymarket odds before and after major announcements","feed real-money probability into an automated trading strategy","check open interest on a prediction market contract","use crowd intelligence to calibrate AI model confidence","find the most actively traded Polymarket questions right now"],"x-payment":{"protocol":"x402","network":"eip155:8453","asset":"USDC","pay_to":"0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}},"servers":[{"url":"https://prediction.hergertsynthora.com","description":"SYNTHORA prediction earner"}],"paths":{"/service":{"post":{"operationId":"prediction","summary":"Polymarket crowd odds \u2014 p_yes, p_no, volume, open interest for any prediction market question","description":"Real-money crowd probability estimates from Polymarket for any question. Returns p_yes, p_no, 24h volume, open interest, and a directional signal. Best crowd-sourced odds available on any prediction market question.","tags":["Prediction Markets","Polymarket","Probability","Crowd Intelligence"],"x-keywords":["prediction market","Polymarket","crowd odds","p_yes","p_no","probability","event odds","market resolution","crowd intelligence","binary event"],"x-use-cases":["get current probability of a Fed rate cut from Polymarket","check crowd odds for a crypto price target being hit","query Polymarket probability for any yes/no event","use crowd-sourced odds as a prior in an AI agent decision","get 24h trading volume on a specific prediction market","compare Polymarket odds before and after major announcements","feed real-money probability into an automated trading strategy","check open interest on a prediction market contract","use crowd intelligence to calibrate AI model confidence","find the most actively traded Polymarket questions right now"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.001000"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"input":{"type":"string","description":"Query input (asset name, keyword, question, DAO slug, etc.)"}}}}}},"responses":{"200":{"description":"Successful result","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"niche":{"type":"string"},"result":{"type":"object","description":"Service-specific result payload"}}}}}},"402":{"description":"Payment Required \u2014 include x402 PAYMENT-SIGNATURE header"}}}}}}