{"openapi": "3.1.0", "info": {"contact":{"email":"info@hergertsynthora.com"},"title": "SYNTHORA real-time crypto news + sentiment", "version": "1.0.0", "description": "Real-time crypto news headlines with sentiment, ranked by importance. Aggregates keyless RSS feeds (CryptoPanic, CoinDesk, CoinTelegraph, Decrypt, Bitcoin Magazine) into deduplicated, freshness-and-source-weighted top headlines, each scored with a lexical bull/bear sentiment (very_bullish..very_bearish) plus an overall market sentiment. Filter by asset (BTC, ETH, SOL, XRP, and more) to get only headlines about that coin. Built for trading and quant agents that need a cheap, fast crypto news + sentiment pulse. Ed25519-signed. 0.001 USDC on Base. SYNTHORA.", "x-keywords": ["crypto news", "news headlines", "crypto sentiment", "market sentiment", "news feed", "bull bear", "cryptopanic", "coindesk", "cointelegraph", "news pulse", "asset news", "trading news", "quant news feed"], "x-use-cases": ["get a cheap fast crypto news + sentiment pulse", "filter headlines to a single asset (BTC, ETH, SOL...)", "feed a trading agent a real-time news signal", "measure overall market sentiment from headlines", "deduplicate multi-source crypto news into a top list"], "x-payment": {"protocol": "x402", "network": "eip155:8453", "asset": "USDC", "pay_to": "0xEf879BFD6C4AccB8F795136de90246e1EC245e06"}}, "servers": [{"url": "https://cryptonews.hergertsynthora.com"}], "paths": {"/service": {"post": {"operationId": "cryptonews", "summary": "SYNTHORA real-time crypto news + sentiment", "description": "Real-time crypto news headlines with sentiment, ranked by importance. Aggregates keyless RSS feeds (CryptoPanic, CoinDesk, CoinTelegraph, Decrypt, Bitcoin Magazine) into deduplicated, freshness-and-source-weighted top headlines, each scored with a lexical bull/bear sentiment (very_bullish..very_bearish) plus an overall market sentiment. Filter by asset (BTC, ETH, SOL, XRP, and more) to get only headlines about that coin. Built for trading and quant agents that need a cheap, fast crypto news + sentiment pulse. Ed25519-signed. 0.001 USDC on Base. SYNTHORA.", "x-payment-info": {"price": {"mode": "fixed", "currency": "USD", "amount": "0.001000"}, "protocols": [{"x402": {}}]}, "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"asset": {"type": "string", "description": "Filter to one coin e.g. BTC, ETH, SOL. Omit for market-wide"}, "limit": {"type": "integer", "description": "Max headlines (default 10)"}}}}}}, "responses": {"200": {"description": "Result"}, "402": {"description": "Payment Required (x402)"}}}}}}